{block wrapper}
<div class="container">
    <div class="row">
        <div class="col s4 offset-s4">
        <h1 n:block=title>Přihlášení</h1>
        <h5>Hint: admin/admin</h5>
        {control signInForm}
        </div>
    </div>
</div>